* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --font-s1-pc: 31.25px;
  --font-s2-pc: 25px;
  --font-s3-pc: 20px;
  --font-body-pc: 16px;
  --font-s1-sp: 25.39px;
  --font-s2-sp: 20.31px;
  --font-s3-sp: 16.25px;
  --font-body-sp: 13px;
  --font-family__pinyon-script: "Pinyon Script";
  --font-family__piazzolla: "Piazzolla";
  --popup-background-color: rgba(217, 217, 217, 0.7);
  --img-gap: 20px;
}
.font-family__pinyon-script {
  font-family: var(--font-family__pinyon-script);
}
.font-family__piazzolla {
  font-family: var(--font-family__piazzolla);
}
.font-size__s1 {
  font-size: var(--font-s1-sp);
}
.font-size__s2 {
  font-size: var(--font-s2-sp);
}
.font-size__s3 {
  font-size: var(--font-s3-sp);
}
.font-size__body {
  font-size: var(--font-body-sp);
}

/* Mobile first styles */
body {
  margin: 0;
  font-family: var(--font-family__piazzolla), Arial, sans-serif;
  color: #422A1C;
}
/* Header Styles */
header {
  position: sticky;
  top: 0;
  padding: 0 20px;
  border-bottom: 1px solid #8D311C;;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.header--invitation-link {
  color: #8D311C;
  text-decoration: none;
  padding: 10px 6px;
  display: inline-block;
  font-weight: 600;
}
.header--invitation-link__selected {
  background-color: #8D311C;
  color: #fff;
  border-radius: 6px 6px 0 0;
}
/* Agenda Styles */
.agenda {
  text-align: center;
  padding: 0 20px;
}
/* Page title Styles */
.page-title {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.page-title--font {
  color: #8D311C;
}
/* Timeline title Styles */
.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.time-item {
  font-size: 1.2em;
  background-color: #ffdab9;
  padding: 10px;
  margin: 20px 0;
  border-radius: 8px;
  width: 48%;
  position: relative;
  opacity: 0;
  transform: translateX(-100%);
  animation: slide-in-left 0.5s forwards;
}
.time-item.left {
  align-self: flex-start;
  transform: translateX(-100%);
  text-align: right;
  font-size: var(--font-s3-sp);
  font-weight: 600;
}
.time-item.right {
  align-self: flex-end;
  transform: translateX(100%);
  animation: slide-in-right 0.5s forwards;
  text-align: left;
  font-size: var(--font-s3-sp);
  font-weight: 600;
}
.timeline::before {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #8D311C;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}
/* Timeline animation */
@keyframes slide-in-left {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-in-right {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.time-item.left:nth-child(1) {
  animation-delay: 0.2s;
}
.time-item.right:nth-child(2) {
  animation-delay: 0.4s;
}
.time-item.left:nth-child(3) {
  animation-delay: 0.6s;
}
.time-item.left:nth-child(4) {
  animation-delay: 0.2s;
}
.time-item.right:nth-child(5) {
  animation-delay: 0.4s;
}

/* Tablet styles */
@media (min-width: 601px) {
  .agenda {
    text-align: center;
    padding: 0 200px;
  }
}

/* PC styles */
@media (min-width: 1201px) {
  .font-size__s1 {
    font-size: var(--font-s1-pc);
  }
  .font-size__s2 {
    font-size: var(--font-s2-pc);
  }
  .font-size__s3 {
    font-size: var(--font-s3-pc);
  }
  .font-size__body {
    font-size: var(--font-body-pc);
  }
  .time-item.left {
    font-size: var(--font-s3-pc);
  }
  .time-item.right {
    font-size: var(--font-s3-pc);
  }
  .agenda {
    text-align: center;
    padding: 0 400px;
  }
  .time-item.left {
    font-size: var(--font-s3-pc);
  }
  .time-item.right {
    font-size: var(--font-s3-pc);
  }
}
